.oneimg img{
   height:50vh;
   width:25vw;
   padding-left: 50px;
}

.firstdiv{
width:80vw;
display:flex;
justify-content:space-between;
align-items:center;
flex-direction:row;
padding-left:100px;
}

.onediv{
width:50%
}

.firstBut{
margin-top:30px;
height:40px;
background:red;
border:none;
border-radius:10px;
}

.secBut{
background:none;
border:2px orange solid;
border-radius:10px;
height:40px;
}

.sectionSecond{
display:flex;
align-items:center;
justify-content:space-between;
background:orange;
border-radius:30px;
width:60%;
margin-left:370px;
margin-top:70px;
}

.secSection{
text-align:center;
padding:80px 40px;
}

.hire-future{
display:flex;
justify-content:center;
flex-wrap:wrap;
max-width:1000px;
margin:0 auto;
padding-top:30px;
}

.future{
max-width:220px;
padding:10px;
}

.future img{
background-color:#f2efed;
border-radius:50%;
width:70px;
height:70px;
}

.portfolio{
max-width:1000px;
max-height:600px;
margin-top:100px;
}

.thirdSection{
display:flex;
justify-content:center;
}

.portfolio img{
height:300px;
width:310px;
}


.testimonials{
height:500px;
background-color:#FF7315;
color:white;
text-align:center;
margin:80px 20px;
}
.testimonials h2{
margin-bottom:70px;
font-weight:600;
font-size:3rem;
padding-top:50px;
}

.blockTestimonials{
display:flex;
justify-content:center;
align-items:center;
gap:40px;
flex-wrap:wrap;

}
.priceBlock{
text-align:center;
}
.textSection{
width:400px;
font-size:1rem;
background-color:white;
color:black;
border-radius:20px;
padding: 35px 40px;
}

.price{
background-color:#F9F9F9;
box-shadow:1px black solid;
border-radius:15px;
width:300px;
height:500px;
}

.priceBox{
display:flex;
justify-content:center;
align-items:center;
gap:20px;
height:500px;
}

.priceHeader{
background-color:#FF9B70;
height:10%;
border-radius:15px 15px 0 0;
text-align:center;
padding-top:20px;
font-size:20px;
font-weight:600;
color:white;
margin-bottom:20px;
}
.amount{
font-size:1.6rem;
font-weight:700;
color: #222;
margin-bottom:10px;
}

.per{
font-size:1rem;
color:#888;
margin-left:4px;
margin-bottom:10px;
}

.priceMain{
margin-top:10px;
}

.futures{
list-style:none;
text-align:left;
padding:0 40px;
margin-top:10px;
}

.futures li{
font-size:0.9rem;
color:#999;
padding:10px 0;
border-bottom:1px solid #f5f5f5;
}

.futures li.active{
color:black;
font-weight:500;
}

.futures li.active::before{
content:"✔";
color:#ff7a33;
font-weight:bold;
margin-right:10px;
}

.futures li:not(.active)::before{
content:"✖";
color:#ccc;
margin-right:10px;
}

.workWithMe{
display:flex;
justify-content:center;
margin-top:50px;
}
.divWorkWithMe{
background-color:#FF7315;
width:1000px;
height:200px;
display:flex;
justify-content:space-around;
align-items:center;
border-radius:10px;

}

.textWork{
font-size:3rem;
width:40%;
color:white;
}

.emailMe{
height:50px;
width:170px;
border-radius:15px;
border:none;
cursor:pointer;
font-size:20px;
transition:1s;
}

.emailMe:hover{
background-color:#45a049;
}

.blogBox{
display:flex;
justify-content:space-between;
margin: 0 auto;
gap:20px;
width:80%;

}

.blogSection{
text-align:center;
padding 40px;
margin-top:50px;
}

.blogDiv{
width:25%;
height:450px;
background-color:#F1F1F1;
border-radius:10px;
}

.blogDiv img{
margin-top:30px;
height:250px;
width:250px;
}

.blogDiv p{
margin:20px;
}