.oneimg img{
   height:50vh;
   width:25vw;
   padding-left: 50px;
}

.firstdiv{
width:80vw;
display:flex;
justify-content:space-between;
align-items:center;
flex-direction:row;
padding-left:100px;
}

.onediv{
width:50%
}

.firstBut{
margin-top:30px;
height:40px;
background:red;
border:none;
border-radius:10px;
}

.secBut{
background:none;
border:2px orange solid;
border-radius:10px;
height:40px;
}

.sectionSecond{
display:flex;
align-items:center;
justify-content:space-between;
background:orange;
border-radius:30px;
width:80%;
margin-left:150px;
margin-top:50px;
}
