.oneimg img{
   height:50vh;
   width:25vw;
   padding-left: 50px;
}

.firstdiv{
width:80vw;
display:flex;
justify-content:space-between;
align-items:center;
flex-direction:row;
padding-left:100px;
}

.onediv{
width:50%
}

.firstBut{
margin-top:30px;
height:40px;
background:red;
border:none;
border-radius:10px;
}

.secBut{
background:none;
border:2px orange solid;
border-radius:10px;
height:40px;
}

.sectionSecond{
display:flex;
align-items:center;
justify-content:space-between;
background:orange;
border-radius:30px;
width:60%;
margin-left:370px;
margin-top:70px;
}

.secSection{
text-align:center;
padding:80px 40px;
}

.hire-future{
display:flex;
justify-content:center;
flex-wrap:wrap;
max-width:1000px;
margin:0 auto;
padding-top:30px;
}

.future{
max-width:220px;
padding:10px;
}

.future img{
background-color:#f2efed;
border-radius:50%;
width:70px;
height:70px;
}

.portfolio{
max-width:1000px;
max-height:600px;
margin-top:100px;
}

.thirdSection{
display:flex;
justify-content:center;
}

.portfolio img{
height:300px;
width:310px;
}


.testimonials{
height:500px;
background-color:#FF7315;
color:white;
text-align:center;
margin:80px 20px;
}
.testimonials h2{
margin-bottom:70px;
font-weight:600;
font-size:3rem;
padding-top:50px;
}

.blockTestimonials{
display:flex;
justify-content:center;
align-items:center;
gap:40px;
flex-wrap:wrap;

}
.priceBox{
text-align:center;
}
.textSection{
width:400px;
font-size:1rem;
background-color:white;
color:black;
border-radius:20px;
padding: 35px 40px;
}

.price{
background-color:#F9F9F9;
box-shadow:1px black solid;
border-radius:15px;
width:300px;
height:400px;
}



.priceBox{
display:flex;
justify-content:center;
align-items:center;
gap:20px;
height:400px;
}

.priceHeader{
background-color:#FF9B70;
height:10%;
border-radius:15px 15px 0 0;
text-align:center;
padding:10px;
font-size:20px;
font-weight:600;
color:white;
}
.amount{
font-size:1.6rem;
font-weight:700;
color: #222;
}

.per{
font-size:1rem;
color:#888;
margin-left:4px;
}

.priceMain{
margin-top:10px;
}

.futures{
list-style:none;
text-align:left;
padding:0 40px;
margin:0;
}
