@media screen and (min-width: 1001px) and (max-width: 1500px){

.firstdiv{
margin-bottom:50px;
}
.oneimg img{
width:400px;
height:400px;
}
.sectionSecond{
width:100%;
margin:0;

}
.testimonials{
margin-top:100px;
}

.blogDiv{
flex: 1 1 calc(50% - 20px);
box-sizing:border-box;
}

.blogBox{
display:flex;
flex-wrap:wrap;
gap:20px;
justify-content:space-between;

}
}