@media screen and (min-width: 360px) and (max-width: 700px){

body {
  width: 100%;
  margin:0;
}


.firstdiv{
display:flex;
align-items:center;
flex-direction:column-reverse;
padding:0;
width:100%;
margin-bottom:40px;
}

.oneimg img{
width:70vw;
height:40vh;
padding:0;
}

.onediv{
width:80vw;

}
.onediv h2{
margin-left:20px;
}
.firstBut{
margin-right:30px;
margin-left:30px;
}

.socialImg{
display:flex;
justify-content:center;
}

.sectionSecond{
width:90vw;
display:flex;
flex-direction:column;
margin: 0 auto;
}
.secSection{
margin-bottom:-90px;
}
figure img {
width:70vw;
}

.secComplProg{
display:flex;
align-items:center;
flex-direction:column;
text-align:center;
}

.secComplProg p{
margin:20px;
}

.thirdSection{
display:flex;
flex-direction:column;
align-items:center;
margin:0 auto;
margin-bottom:130px;
}

.portfolio{
display:flex;
flex-direction:column;
align-items:center;
max-height:max-content;
}

.portfolio img{
margin-bottom:10px;
height:220px;
}
.testimonials h2{
font-size:1.5rem;
}

.testimonials{
height:600px;
}
.textSection{
height:70px;
width:200px;
text-align:center;
margin-bottom:10px;
}

.priceBox{
display:flex;
flex-direction:column;
height:1600px;

}

.price{
height:500px;
width:300px;
}
.divWorkWithMe{
display:flex;
flex-direction:column;
height:300px;
}

.textWork{
font-size:2rem;
text-align:center;
}

.blogBox{
display:flex;
flex-direction:column;
}

.blogDiv{
width:300px;
height:450px;
}
}