@media screen and (min-width: 701px) and (max-width: 1100px){

.oneimg img{
height:300px;
width:300px;
}

.sectionSecond{
margin-left:70px;
width:600px;

}
figure img{
height:300px;
width:300px;
}
.portfolio{
max-height:1200px;
}
.testimonials{
margin:0;

}
.testimonials h2{
font-size:30px;
}

.price{
max-width:230px;


}
.priceBox{
margin:0;
}

.blogBox{
display:flex;
flex-wrap:wrap;
gap:20px;
justify-content:space-between;

}
.blogDiv{
flex: 1 1 calc(50% - 20px);
box-sizing:border-box;
}

priceMain{
width:100px;
}
}
